<div class="container m-auto my-5 " id="container">
   
    <div class="form-container sign-in">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <h1  class="mb-4">Sign In</h1>
           
            <input type="email" name="email" placeholder="Email" ngModel #email="ngModel" required email pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
            <!-- <div class="alert alert-danger w-100 p-2 " *ngIf="email.invalid && (email.dirty || email.touched)">
                <span class="error fs-6" *ngIf="email.errors?.['required']">Email is required</span>
                <span class="error fs-6" *ngIf="email.errors?.['pattern']">Email is invalid</span>
            </div> -->
            @if(email.invalid && (email.touched || submit)){
                <div class="alert alert-danger w-100 p-2 ">
                    @if(email.hasError('required')) {

                        <span class="error fs-6">Email is required</span>
                        }
                        @if(email.hasError('pattern')) {
            
                        <span class="error fs-6">Email is not valid</span>
                        }                </div>
            }
            <input type="password" name="password" placeholder="Password" ngModel #password="ngModel" required >
           @if(password.invalid && (password.touched || submit)){
               <div class="alert alert-danger w-100 p-2 ">

                @if(password.hasError('required')) {
                    <span class="error fs-6">Password is required</span>
                    }
                  
               </div>
           }
           @if(submit){
            <div class="alert alert-danger w-100 p-2 ">
               @if(errorMessage != null){
                    <span class="error fs-6">{{errorMessage}}</span>

                   }
                </div>
           }
            <a href="#">Forget Your Password?</a>
            <button>Sign In</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            
            <div class="toggle-panel toggle-right">
                <h1 class="text-light">Hello, Friend!</h1>
                <p>Register with your personal details to use all of site features</p>
                <button class="hidden" routerLink="/register" id="register">Sign Up</button>
            </div>
        </div>
    </div>
</div>
