<div class="container active m-auto my-5 p-2" id="container">
    <div class="form-container sign-up ">
        <form [formGroup]="registerForm" (ngSubmit)="register()" >
            <h1 class="mb-2">Create Account</h1>
           
            <input type="text" placeholder="Name" name="name" formControlName="name">
            @if(registerForm.get('name')?.invalid && (registerForm.get('name')?.touched || submit)){
                <div class="alert alert-danger w-100 p-1 ">

                @if(registerForm.get('name')?.hasError('required')){
                    <span class="error fs-6">Name is required</span>
                } 
                </div>
            }
            <input type="email" placeholder="Email" name="email" formControlName="email">
            @if (registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || submit)) {
                <div class="alert alert-danger w-100 p-1 ">

                @if(registerForm.get('email')?.hasError('required')){
                    <span class="error fs-6">Email is required</span>
                }
                @if(registerForm.get('email')?.hasError('email')){
                    <span class="error fs-6">Email is not valid</span>
                }
                </div>
            }
            <input type="password" placeholder="Password" name="password" formControlName="password">
            @if (registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || submit)) {
                <div class="alert alert-danger w-100 p-1 ">

                @if(registerForm.get('password')?.hasError('required')){
                    <span class="error fs-6">Password is required</span>
                }
                @if(registerForm.get('password')?.hasError('minlength')){
                    <span class="error fs-6">Password must be at least 8 characters</span>
                }
                </div>
            }
            <label for="image">upload image</label>
            <input type="file" placeholder="Image" name="image"  (change)="onFileChange($event)">
            @if (registerForm.get('image')?.invalid && (registerForm.get('image')?.touched || submit)) {
                <div class="alert alert-danger w-100 p-1 ">

                @if(registerForm.get('image')?.hasError('required')){
                    <span class="error fs-6">Image is required</span>
                }
                </div>
            }
            <button type="submit">Sign Up</button>
            <!-- <button type="submit">continue as a doctor</button> -->

        </form>
    </div>
    
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1  class="text-light">Welcome Back!</h1>
                <p>Enter your personal details to use all of site features</p>
                <button class="hidden" routerLink="/login" id="login">Sign In</button>
            </div>
           
          
        </div>
    </div>
</div>
